<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673648061465-3rakuqm1d9cpukosv6efvefvhgok20di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673648061465-3rakuqm1d9cpukosv6efvefvhgok20di</string>
	<key>API_KEY</key>
	<string>AIzaSyBicajuZX_bDNtg3XpZjZ5z9xQoN89cg7k</string>
	<key>GCM_SENDER_ID</key>
	<string>673648061465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-3e35d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-3e35d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673648061465:ios:365612ea0299427b54ce88</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstapp-3e35d.firebaseio.com</string>
</dict>
</plist>